<a href="#main-content" class="skip-to-content">Skip to main content</a>

<nav class="navbar" x-data="mobileNav()">
  <div class="navbar-inner">
    <a href="/" class="navbar-brand">
      <template x-if="$store.theme.dark">
        <img width="140" height="32" src="/img/nav.svg" alt="SATrack">
      </template>
      <template x-if="!$store.theme.dark">
        <img width="140" height="32" src="/img/nav-light.svg" alt="SATrack">
      </template>
    </a>

    <div class="nav-links" :class="{ 'open': open }" id="nav-links">
      <a href="/vocab" class="nav-link" data-key="1"><img src="/img/icon-words.svg" alt="" width="14" height="14"> Words</a>
      <a href="/practice" class="nav-link" data-key="2"><img src="/img/icon-practice-nav.svg" alt="" width="14" height="14"> Practice</a>
      <a href="/flashcards" class="nav-link" data-key="3"><img src="/img/icon-flashcards-nav.svg" alt="" width="14" height="14"> Flashcards</a>
      <% if (typeof user !== 'undefined' && user) { %>
      <a href="/dashboard" class="nav-link" data-key="4"><img src="/img/icon-dashboard.svg" alt="" width="14" height="14"> Dashboard</a>
      <a href="/dashboard/leaderboard" class="nav-link" data-key="5"><img src="/img/icon-podium.svg" alt="" width="14" height="14"> Leaderboard</a>
      <a href="/dashboard/analytics" class="nav-link" data-key="6"><img src="/img/icon-analytics.svg" alt="" width="14" height="14"> Analytics</a>
      <a href="/settings" class="nav-link"><img src="/img/icon-settings-nav.svg" alt="" width="14" height="14"> Settings</a>
      <a href="/auth/logout" class="nav-link nav-link--signout"><img src="/img/icon-logout.svg" alt="" width="14" height="14"> Sign Out</a>
      <% } else { %>
      <a href="/auth/login" class="nav-link"><img src="/img/icon-login.svg" alt="" width="14" height="14"> Log In</a>
      <a href="/auth/signup" class="btn btn-primary btn-sm">Sign Up</a>
      <% } %>
    </div>

    <button class="theme-btn" @click="$store.theme.toggle()" :aria-pressed="$store.theme.dark" aria-label="Toggle theme">
      <template x-if="$store.theme.dark">
        <img src="/img/dark.svg" alt="Dark mode">
      </template>
      <template x-if="!$store.theme.dark">
        <img src="/img/light.svg" alt="Light mode">
      </template>
    </button>

    <button class="hamburger" @click="toggle()" :class="{ 'active': open }" aria-label="Menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
</nav>

<div class="overlay" id="overlay" @click="close()"></div>